<div id="game" class="container-fluid g-0">
  <div id="container" class="row g-0">
    <div id="board_container" class="col-md-8 d-flex justify-content-center">
      <table id="board">
        <tr id="choice">
          <th id="0"></th>
          <th id="1"></th>
          <th id="2"></th>
          <th id="3"></th>
          <th id="4"></th>
          <th id="5"></th>
          <th id="6"></th>
        </tr>
      </table>
    </div>
    <div id="info" class="col-md-4">
      <div id="title">Player Info</div>
      <div id="name1" class="playerName"></div>
      <div id="name2" class="playerName"></div>
    </div>
  </div>
</div>