<div class="row">
  <div class="col-md-8 box">
    <h1>Welcome!</h1>
    <p>
      Would you like to play the classic game <b>connect four</b> online? Well, in that case you're in the right
      place!
    </p>
    <p>
      If you haven't played <b>connect four</b> before, please familiarize yourself with the rules available from the
      menu.
    </p>
    <p>
      Right now the page is under construction, however in the near future both the classic aswell as some exciting
      variations will be awailabe so stay tuned!
    </p>
    <p>
      Challange other players and keep track of all high scores, let's go!
    </p>
    <a href="/game" class="btn btn-primary btn-lg button-large float-end" role="button">Play Now</a>
  </div>
  <div class="col-md-4 box">
    <h1>Preview</h1>
  </div>
</div>