<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand d-flex items-align-center" href="#">
      <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="24" height="24">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">Play</a>
        <a class="nav-link" href="#">Rules</a>
        <a class="nav-link" href="#">High Scores</a>
      </div>
    </div>
  </div>
</nav>