<div class="row">
  <div class="col-12 box">
    <h1>Game Rules</h1>
    <p>The rules of this game are pretty simple.</p>
    <p>At the start of a new game you will be assigned a color, red or yellow.</p>
    <p>The game board is a vertically suspended grid made up of seven columns and six rows.</p>
    <p>Both players will each take turns dropping red or yellow colored discs into the game board. The discs fall
      straight down occupying the lowest available space in the column.</p>
    <p>The objective of both players is to be the first to form a horizontal, vertical or diagonal row of four of one's
      own discs.</p>
  </div>
</div>