<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/library/bootstrap/5.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/default.css">
  <title>Connect 4</title>
</head>

<body>
  <navigation>
    <% if(typeof partials.nav !=='undefined' ) { %>
      <%- include(partials.nav) %>
        <% } %>
  </navigation>
  <main class="container">
    <% if(typeof partials.main !=='undefined' ) { %>
      <%- include(partials.main) %>
        <% } %>
  </main>
  <footer>
    <% if(typeof partials.footer !=='undefined' ) { %>
      <%- include(partials.footer) %>
        <% } %>
  </footer>
  <script type="text/javascript" src="/library/jquery/3.6.0/jquery.js"></script>
  <script type="text/javascript" src="/library/popper/2.11.0/popper.js"></script>
  <script type="text/javascript" src="/library/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>