/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Knewave&display=swap');
/*GENERAL*/
@import url('formatting.css');
/*PARTIAL*/
@import url('navbar.css');
@import url('game.css');

main {
  min-height: 100vh;
}

.nav-fix {
  margin: 89px auto auto auto;
  padding: auto;
}

.box {
  padding: 4vh;
}

.button-large, .button-large:active, .button-large:focus {
  margin: 0;
  padding: 1.5vh 2.5vh;
  background: #2E49D0;
  font-family: 'Bebas Neue';
  font-size: 2.5vh;
  border: 2px solid #3449B5;
}

.button-large:hover {
  background: yellow;
  color: #2E49D0;
}