h1 {
  font-family: 'Bebas Neue';
  font-size: 8vh;
  font-weight: bold;
}

h2 {
  font-family: 'Bebas Neue';
  font-size: 7.5vh;
  font-weight: bold;
}

h3 {
  font-family: 'Bebas Neue';
  font-size: 7vh;
  font-weight: bold;
}

h4 {
  font-family: 'Bebas Neue';
  font-size: 6.5vh;
  font-weight: bold;
}

h5 {
  font-family: 'Bebas Neue';
  font-size: 6vh;
  font-weight: bold;
}

h6 {
  font-family: 'Bebas Neue';
  font-size: 5.5vh;
  font-weight: bold;
}

p {
  font-size: 2.5vh;
}