#game {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  background: red;
}

#board_container {
  padding: 2vh;
}

#board {
  margin: 0;
  padding: 0;
}

#board tr {
  height: 14.28%;
  margin: 0;
  padding: 0;
}

#board tr td{
  margin: 0;
  padding: 0;
}